<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node.js Express Routing</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Bienvenido a mi sitio</h1>
  <img src="/images/logo.jpeg" alt="Logo">
  <p>Este es un ejemplo de enrutamiento con Node.js y Express utilizando EJS.</p>
</body>
</html>